
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "G:\XAAMP\htdocs\maria/wp-content/uploads\simply-static\8f874ad29ac4e47f264e3d2057a21bc9-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static